/*-------------------------------------------
    Colors
-------------------------------------------*/
$link: #0088cc;
$yellow: #ffce39;
$highlight: #a17c0b;
$highlight-sec: #00baa6;


/*-------------------------------------------
    Sizes
-------------------------------------------*/
$base-font: 17;
$base-font-size: 17px;


/*-------------------------------------------
    Fonts
-------------------------------------------*/
$heading-font: "proxima-nova-alt-condensed",sans-serif;
$body-font: "ff-tisa-web-pro",serif;


/*-------------------------------------------
    Media Queries
-------------------------------------------*/
$break-small: 480px;
$break-medium: 650px;
$break-large: 900px;
$break-xlarge: 1140px;
$break-xxlarge: 1240px;